@tailwind components;
@tailwind utilities;

.backgroundImg {
  background-color: rgba(55, 132, 200, 0.368);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
}
